{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %}Manage Account{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center my-4 primary-color">Manage Your Hive</h2>
    <p class="text-center">Here you can manage your bees and their pockets.</p>
    <p class="text-center">First create a pocket, then give busy bees the appropriate access to create or view activities</p>

    <div class="row">
        <!-- Permissions Card -->
        <div class="col-md-6">
            <!-- Create Permission Button -->
            <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-primary w-100 major-btn" data-bs-toggle="modal" data-bs-target="#createPermissionModal">
                    <span class="material-icons me-2">add_circle</span>Create New Permission
                </button>
            </div>
            
            <div class="card mb-3 myscrollable scrolling"">
                <div class="card-header">
                    Permissions
                </div>
                <div class="card-body">
                    {% for permission in permissions %}
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div>
                                <h5 class="card-title">{{ permission.user.username }}</h5>
                                <p class="card-text">Permission: {{ permission.permission }}</p>
                                <p class="card-text">BeePocket: {{ permission.beepocket.beepocket_name }}</p>
                            </div>
                            <div>
                                <a href="{% url 'edit_permission' account.id permission.id %}" class="btn btn-warning btn-sm" title="Edit">
                                    <span class="material-icons">edit</span>
                                </a>
                                <a href="{% url 'delete_permission' account.id permission.id %}" class="btn btn-danger btn-sm" title="Delete">
                                    <span class="material-icons">delete</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- BeePockets Card -->
        <div class="col-md-6">
            <!-- Create BeePocket Button -->
            <div class="d-flex flex-column mb-3">
                <button class="btn btn-success w-100 major-btn" data-bs-toggle="modal" data-bs-target="#createBeePocketModal">
                    <span class="material-icons me-2">add_circle</span>Create New BeePocket
                </button>
            </div>
            
            <div class="card mb-3 myscrollable scrolling">
                <div class="card-header">
                    BeePockets - (Total: 
                    {% for unit, total in unit_totals.items %}
                    {% if unit == 'GBP' %}£{% endif %}
                    {% if unit == 'EUR' %}€{% endif %}
                    {% if unit == 'USD' %}${% endif %}
                    {{ total }}{% if not forloop.last %}, {% endif %}
                    {% endfor %})
                </div>
                <div class="card-body">
                    {% for beepocket in beepockets %}
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div>
                                <h5 class="card-title">{{ beepocket.beepocket_name }}</h5>
                                <p class="card-text">Account: {{ beepocket.account }}</p>
                                <p class="card-text">Starting Balance:
                                    {% if beepocket.units == 'GBP' %}£{% endif %}
                                    {% if beepocket.units == 'EUR' %}€{% endif %}
                                    {% if beepocket.units == 'USD' %}${% endif %}
                                    {{ beepocket.starting_balance }}</p>
                                <p class="card-text">Current Balance:
                                    {% if beepocket.units == 'GBP' %}£{% endif %}
                                    {% if beepocket.units == 'EUR' %}€{% endif %}
                                    {% if beepocket.units == 'USD' %}${% endif %}
                                    {{ beepocket_balances|dict_get:beepocket.id }}</p>
                            </div>
                            <div>
                                <a href="{% url 'edit_beepocket' account.id beepocket.id %}" class="btn btn-warning btn-sm" title="Edit">
                                    <span class="material-icons">edit</span>
                                </a>
                                {% if beepocket|pocket_has_instances %}
                                <button class="btn btn-danger btn-sm disabled" title="Cannot delete item with instances" disabled>
                                    <span class="material-icons">delete</span>
                                </button>
                                {% else %}
                                <a href="{% url 'delete_beepocket' account.id beepocket.id %}" class="btn btn-danger btn-sm" title="Delete">
                                    <span class="material-icons">delete</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Permission Modal -->
<div class="modal fade" id="createPermissionModal" tabindex="-1" aria-labelledby="createPermissionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="createPermissionModalLabel">Create Permission</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'create_permission' account.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="user" class="form-label">User</label>
                        <select class="form-select" id="user" name="user">
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="beepocket" class="form-label">BeePocket</label>
                        <select class="form-select" id="beepocket" name="beepocket">
                            {% for beepocket in beepockets %}
                                <option value="{{ beepocket.id }}">{{ beepocket.beepocket_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="permission" class="form-label">Permission</label>
                        <select class="form-select" id="permission" name="permission">
                            <option value="manager">Manager</option>
                            <option value="user">User</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary major-btn">Create Permission</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Create BeePocket Modal -->
<div class="modal fade" id="createBeePocketModal" tabindex="-1" aria-labelledby="createBeePocketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="createBeePocketModalLabel">Create BeePocket</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'create_beepocket' account.id %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="beepocket_name" class="form-label">BeePocket Name</label>
                        <input type="text" class="form-control" id="beepocket_name" name="beepocket_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="units" class="form-label">Units</label>
                        <select class="form-select" id="units" name="units">
                            <option value="non-currency">Non-currency</option>
                            <option value="GBP">GBP</option>
                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="starting_balance" class="form-label">Starting Balance</label>
                        <input type="number" class="form-control" id="starting_balance" name="starting_balance" required>
                    </div>
                    <button type="submit" class="btn btn-success major-btn">Create BeePocket</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}