{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}Create Item{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center my-2">Create Item</h2>

        <div class="row flex-grow-1">

        <!-- Items Column -->

        <div class="col-md-6 d-flex flex-column">
            <div class="d-flex flex-column mb-3">
                <h3 class="text-center my-4">Create an Item Template</h3>
                <button class="btn btn-primary w-100 mb-2" data-bs-toggle="modal" data-bs-target="#createItemModal">
                    <span class="material-icons me-2">add_circle</span> Create New Template
                </button>            
            </div>
            <div class="card mb-3 flex-grow-1 scrolling">
                <div class="card-header">
                    Items
                </div>
                <div class="card-body">
                    {% for item in items %}
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <div>
                                <h5 class="card-title">{{ item.item_name }}</h5>
                                <p class="card-text">{{ item.item_description }}</p>
                                <p class="card-text">Category: {{ item.item_category.category_name }}</p>
                                <p class="card-text">Type: {{ item.item_type }}</p>
                                <p class="card-text">Value: {{ item.item_value }}</p>
                            </div>
                            <div>
                                <a href="{% url 'edit_item' item.id %}" class="btn btn-warning btn-sm" title="Edit Item">
                                    <span class="material-icons">edit</span>
                                </a>
                                <a href="{% url 'delete_item' item.id %}" class="btn btn-danger btn-sm" title="Delete Item">
                                    <span class="material-icons">delete</span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Item Instances Column -->
        <div class="col-md-6 d-flex flex-column">
            <div class="d-flex flex-column mb-3">
                <h3 class="text-center my-4">Add an Item to a Pocket</h3>
                <div class="row g-2 mb-2">
                    <div class="col-12 col-lg-4">
                        <label for="beepocket_select" class="form-label visually-hidden">Select BeePocket</label>
                        <select class="form-select" id="beepocket_select" name="beepocket_select">
                            <option value="">Select BeePocket</option>
                            {% for beepocket in beepockets %}
                            <option value="{{ beepocket.id }}" {% if default_beepocket and default_beepocket.id == beepocket.id %}selected{% endif %}>{{ beepocket.beepocket_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-lg-8">
                        <button class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#createItemInstanceModal">
                            <span class="material-icons me-2">add_circle</span> Create New Item
                    </div>
                </div>
            </div>
            
            <div class="card mb-3 flex-grow-1 scrolling">
                <div class="card-header">
                    Item Instances
                </div>
                <div class="card-body" id="item_instances">
                    <!-- The item instances will be dynamically populated here -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Item Modal -->
<div class="modal fade" id="createItemModal" tabindex="-1" aria-labelledby="createItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createItemModalLabel">Create New Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'create_item' %}">
                    {% csrf_token %}
                    <div class="mb">
                        <p>Here you can create a new template for a transaction in the pocket money account.</p>
                    </div>
                    <div class="mb-3">
                        <label for="item_name" class="form-label">Item Name</label>
                        <input type="text" class="form-control" id="item_name" name="item_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="item_description" class="form-label">Item Description</label>
                        <input type="text" class="form-control" id="item_description" name="item_description" required>
                    </div>
                    <div class="mb-3">
                        <label for="item_category" class="form-label">Item Category</label>
                        <select class="form-select" id="item_category" name="item_category">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.category_name }}</option>
                            {% endfor %}
                            <option value="new">Create New Category</option>
                        </select>
                        <input type="text" class="form-control mt-2" id="new_category_name" name="new_category_name" placeholder="New Category Name" style="display: none;">
                    </div>
                    <div class="mb-3">
                        <label for="item_type" class="form-label">Item Type</label>
                        <select class="form-select" id="item_type" name="item_type">
                            <option value="Task">Chore/Task - 'Pollen'</option>
                            <option value="Consequence">Consequence - 'Sting'</option>
                            <option value="Reward">Reward - 'Honey'</option>
                            <option value="Adjustment">Adjustment</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="item_value" class="form-label">Item Value (Please enter a positive integer)</label>
                        <input type="number" class="form-control" id="item_value" name="item_value" required min="1">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Item</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Create ItemInstance Modal -->
<div class="modal fade" id="createItemInstanceModal" tabindex="-1" aria-labelledby="createItemInstanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createItemInstanceModalLabel">Create New Item Instance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'create_item_instance' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="item" class="form-label">Item</label>
                        <select class="form-select" id="item" name="item">
                            {% for item in items %}
                                <option value="{{ item.id }}">{{ item.item_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="beepocket" class="form-label">BeePocket</label>
                        <select class="form-select" id="beepocket" name="beepocket">
                            {% for beepocket in beepockets %}
                                <option value="{{ beepocket.id }}" {% if default_beepocket and default_beepocket.id == beepocket.id %}selected{% endif %}>{{ beepocket.beepocket_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="expireon" class="form-label">Expire On (default 24 hours)</label>
                        <input type="datetime-local" class="form-control" id="expireon" name="expireon" value="{{ default_expireon }}" required>
                    </div>
                    <button type="submit" class="btn btn-success">Create ItemInstance</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Inline Formset for Categories -->
<div class="modal fade" id="createCategoryModal" tabindex="-1" aria-labelledby="createCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCategoryModalLabel">Create New Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'create_item' %}">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="mb-3">
                            {{ form.category_name.label_tag }}
                            {{ form.category_name }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Save Categories</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}